body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

h2 {
  text-decoration: underline;
  background-color: #f0f0f0;
  border-radius: 0.5em;
  border-bottom: 1px solid #ccc;
}

h3 {
  text-align: left;
}

#question {
  font-size: 4em;
  margin-bottom: 20px;
}

#choices {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.choice-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.4em;
  cursor: pointer;
  display: none;
  min-width: 2em;
  text-align: center;
  border-radius: 0.5em;
}

#start-btn {
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
}

#history {
  text-align: left;
  margin-top: 20px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  white-space: nowrap;
}

.history-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.history-table td:nth-child(2),
.history-table td:nth-child(3) {
  text-align: right;
}

.history-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.history-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
